$background-body: '#FAFAFA';
$background-main: '#F7F7F7';

$light-beige: '#C5BFB4';
$dark-beige: '#A6A197';

$light-blue: '#8198B1';
$dark-blue: '#6C7F94';

$light-purple: '#9492B0';
$dark-purple: '#7C7B94';

$light-brown: '#B19E7C';
$dark-brown: '#938367';

$light-red-brown: '#C89A7E';
$dark-red-brown: '#AC846C';

$light-pink: '#C05C95';
$dark-pink: '#A24E7D';

$success: '#00D15B';
$error: '#C90902';